@model Feedback
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase text-bg-danger" style="letter-spacing:4px">do you want to delete feedback </h2>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <ul class="list-group my-4">

            <li class="list-group-item">Category id : @Model.feedback_id</li>
            <li class="list-group-item">Category Name : @Model.feedback_id</li>

        </ul>
        <a href="@Url.Action("deletefeedback","Admin",new{id=Model.feedback_id})" class="btn btn-danger">Delete Category</a>
        <a href="@Url.Action("fetchfeedback","Admin",new{id=Model.feedback_id})" class="btn btn-warning ">Back to List</a>

    </div>
    <div class="col-md-2"></div>
</div>
