@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="about-us">
    <strong>ABOUT US</strong>
    <p>Welcome to GO>SHOP !</p>
    <br />

   <p>At [Your Company Name], we believe in making online shopping a seamless and enjoyable experience.
       Our journey started with a simple idea: to bring high-quality products to your doorstep with the
       click of a button.
   </p>
   <br />

    <strong>Our Mission</strong>
    <p>Our mission is to provide a wide range of products that cater to your everyday needs and desires.
       We strive to offer the best prices, unparalleled customer service, and a user-friendly
       platform to make your shopping experience smooth and hassle-free.
   </p>
   <br />

    <strong>Why Choose Us?</strong>
    
        <p><strong>Wide Selection:</strong> Discover an extensive range of products across various categories,
            from fashion and electronics to home essentials and more.</p>
        <p><strong>Quality Assurance:</strong> We are committed to offering only the best products.
            Each item is carefully curated to ensure it meets our high standards of quality.</p>
        <p><strong>Customer Satisfaction:</strong> Your satisfaction is our top priority.
            Our dedicated customer support team is here to assist you with any questions or concerns.</p>
        <p><strong>Secure Shopping:</strong> Shop with confidence knowing that your personal
            information and payment details are protected by our secure payment gateways.</p>

            <br />
   

    <strong>Our Story</strong>
    <p> GO>SHOP was founded in 2025 by a group of passionate entrepreneurs
        who wanted to create a better online shopping experience. Over the years,
        we have grown into a trusted e-commerce platform serving thousands of satisfied customers.
    </p>
    <br />

    <strong>Join Us</strong>
    <p>We invite you to join our growing community of happy shoppers.
        Follow us on social media for the latest updates, promotions,
        and exclusive offers.</p>

    <p>Thank you for choosing GO>SHOP.
        We look forward to serving you!</p>
        <br />
</div>
